
<div class="span9 content">
  <%= create_guide("Create Article", 
        "Migrate from Finalized Project, or Create New Article").html_safe %>
  
  
  <% if not params[:notice].nil? %>
    <div class="alert alert-success">
      <a data-dismiss="alert" class="close">×</a>
      <strong>Well done!</strong> <%= params[:notice].html_safe %>.
    </div>
  <% end %>
  <%#= create_breadcrumb(@breadcrumbs).html_safe %>
  <% if not params[:error].nil? %>
    <div class="alert alert-error">
       <%= params[:error].html_safe %>.
    </div>
  <% end %>
  
  
  
  
  <%= render :partial => "articles/article_source_selector", :locals => {
    :is_migrate_from_project => @is_migrate_from_project
  }%>
  
  
  
  
  <div class="row-fluid" id="new_independent_article_wrapper" 
        style=" margin-bottom:30px;  padding-top:10px;">
    <div class="span8">
   
      
      <%= simple_form_for(@new_article, :url => create_independent_article_url, :html => {:class => 'form-horizontal' }) do |f| %>
        <%= f.input :title , :input_html => {:class => "input-xlarge span8"}, 
        :hint => "Judul dari artikel ini."%>
        
        <%= f.input :sub_title , :input_html => {:class => "input-xlarge span8"}, 
        :hint => "Sub-Judul dari artikel ini."%>
        <%= f.input :teaser, :input_html => {:rows => 3, :class => "input-xlarge span8" },
        :hint => "Deskripsi singkat dari project yang dibahas di artikel ini"%>

        <%= f.input :description , :input_html => {:rows => 5, :columns=>20, :class => "input-xlarge span10"}, 
        :hint => "Deskripsi lengkap dari project yang dibahas"%>

        <div class="form-actions">
          <%= f.button :submit , :class => "btn btn-primary" %>
        </div>
      <% end %>
      
      
    </div><!--/span-->

    <div class="span4">
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Article</th>
            <!-- <th>Description</th> -->
            <th colspan='3' style="text-align:center;">Publication Date</th> <!-- Change Title, Order Images, pull down-->
          </tr>
        </thead>
        <tbody>
          <% @articles.limit(10).each do |article| %>
          <tr>
            <td>
              <%= article.title %>
            </td>
            <td>
              today
            </td>
          </tr>
          <% end %>
          


        </tbody>
      </table>
    </div><!--/span-->
    
  </div><!--/row-->
  
  
  <div class="row-fluid">
    <div class="span12">
      
      <table cellpadding="0" cellspacing="0" border="0" 
            class="table table-striped table-bordered" id="example">
        <thead>
          <tr>
            <th>Article Title</th>
            <!-- <th>Description</th> -->
            <th colspan='3' style="text-align:center;">Action</th> <!-- Change Title, Order Images, pull down-->
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <%= render :partial =>"articles/independent_article", :locals => {
              :article => article
            }%>
          <% end %>
          


        </tbody>
      </table>
    </div>

  </div><!--/row-->
   
   

</div><!--/span-->
