<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="ThemeFuse" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="google-site-verification" content="AztCWFNIdH26d4wsUNG_bVrR8eOCYSxdlx8U1-mvcDI" />
  <title>Nomina Pictures</title>

  <%= stylesheet_link_tag    "front_page", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  

  <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="includes/js/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="includes/js/jquery.anythingslider.min.js"></script>
  <script type="text/javascript" src="includes/js/jquery.colorbox-min.js"></script>
  <script type="text/javascript" src="includes/js/twitter.js"></script>
  <script type="text/javascript" src="includes/js/hoverIntent.js"></script>
  <script type="text/javascript" src="includes/js/superfish.js"></script> 
  <script type="text/javascript" src="includes/js/jquery.functions.js"></script>
   -->
  <!-- <link rel="stylesheet" type="text/css" href="includes/css/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="includes/css/anythingslider.css" />
  <link rel="stylesheet" type="text/css" href="includes/css/colorbox.css" />
  <link rel="stylesheet" type="text/css" href="includes/css/superfish.css" /> -->
	
</head>
<body>
	
  <!-- <div id="box">
    <div id="inner_box">Hey! We've put this bar here so you can put some awesome cool stunning great message!</div>
    <div id="box_close">x close</div>   
  </div> -->

	<div id="header">
		<div id="inner_header">
			<div id="logo">
			  <a href="index.php">
          <!-- <img src="images/logo.png" alt="lovo logo" /> -->
			    <%#= image_tag 'front_page/logo.png' %>
			  </a>
			</div>
			<div id="menu">
				<ul class="sf-menu">
					<li class="current active parent">
						<a class="active" href="index.php">Home</a>
					</li>
					<li class="parent">
						<a href="portfolio.php">Portfolio</a>
					</li>
		      <!-- <li class="parent">
		            <a href="#">Drops</a>
		            <ul>
		              <li>
		                <a href="portfolio_case.php">Portfolio case</a>
		              </li>             
		              <li>
		                <a href="blog.php">Blog</a>
		              </li>             
		              <li>
		                <a href="blog_comment.php">Blog comment</a>
		              </li>
		            </ul>   
		          </li> -->
					
			    <!-- <li class="parent">
			           <a href="contact.php">Contact</a>
			         </li> -->
					
					<li class="parent">
						<a href="blog.php">Client Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="wrapper">
				
		<div id="blue">
			<h1>Nomina Pics.</h1>
			<span id="contact_label">E: contact@nominaPics.com | T: +62.821.688.88.660</span>
			
			<%= render :partial => 'layouts/front_page/slider/slider' %>
		</div>
		
		<div id="content">
			<div id="content_left" style="width:100%;">
        <h2></h2>
				
				
				<% @articles.each do |article| %>
				  <%= render :partial => "layouts/front_page/article_entry", :locals => {
				    :article => article 
				  } %>
				<% end %>
				
				
				
				
			  <!-- <h2 class="noborder" style="text-align:center;">Two Becomes One</h2>
			       <%= image_tag 'front_page_static/image_2.jpg', :style => "margin:0 auto; display:block;"
			       %>
			       
			       <div style="width:700px; margin:0 auto; font-family: Verdana, Helvetica,Arial,default; margin-top:20px;">
			         <p>Here is my contribution to the Fill Up Your Hearts blog. My parents gave my older brother a Nintendo for Christmas of '86 (i think) and from then on we were hooked. We only had a few games starting out and this was one of them and it's still one of my favorite games.</p>
			         <p>Be sure to check out all the other awesome contributions to the Fill Up Your Heart blog!</p>     
			         <div class="readmore black" ><a href="#">Read more</a></div>
			       </div>
			       <div class="spacer"></div>
			        -->
				
				
	      <!-- <h2 class="noborder" style="text-align:center;">Reza & Dewi Prewedding</h2>
	       <%= image_tag 'front_page_static/image_3.jpg', :style => "margin:0 auto; display:block;"
	       %>
	       
	       <div style="width:700px; margin:0 auto; font-family: Verdana, Helvetica,Arial,default; margin-top:20px;">
	         <p>Here is my contribution to the Fill Up Your Hearts blog. My parents gave my older brother a Nintendo for Christmas of '86 (i think) and from then on we were hooked. We only had a few games starting out and this was one of them and it's still one of my favorite games.</p>
	         <p>Be sure to check out all the other awesome contributions to the Fill Up Your Heart blog!</p>     
	         <div class="readmore black" ><a href="#">Read more</a></div>
	       </div>
	       <div class="spacer"></div> -->
			</div>
		
			<div class="clear"></div>
			<div class="spacer_footer"></div>
		</div>		
    
	</div>
	
	<div id="footer">
		<div id="inner_footer">
			<div class="footer_col">
				<h2 class="white">Twitter<span class="yellow">.</span></h2>
				<div id="tweets_footer"></div>
			</div>			
			<div class="footer_col even">
				<h2 class="white">Dribbble<span class="yellow">.</span></h2>
				<div class="dribbble top"><a href="#"><img src="images/dribbble/image_1.jpg" alt="image 1" /></a></div>
				<div class="dribbble top even"><a href="#"><img src="images/dribbble/image_2.jpg" alt="image 2" /></a></div>
				<div class="dribbble top"><a href="#"><img src="images/dribbble/image_3.jpg" alt="image 3" /></a></div>
				<div class="clear"></div>
				<div class="dribbble"><a href="#"><img src="images/dribbble/image_4.jpg" alt="image 4" /></a></div>
				<div class="dribbble even"><a href="#"><img src="images/dribbble/image_5.jpg" alt="image 5" /></a></div>
				<div class="dribbble"><a href="#"><img src="images/dribbble/image_6.jpg" alt="image 6" /></a></div>
				<div class="clear"></div>				
			</div>				
			<div class="footer_col">
				<h2 class="white">Contact<span class="yellow">.</span></h2>
				<p>Cras dolor aliquet euismod odio tortor viverra. Elit blandit praesent amet risus ligula nullam. Dignissim aliquam adipisci odio sed lorem.</p>
				<p><br /><a href="mailto:hello@lovo.com">hello@lovo.com</a></p>
			</div>
			
			<div id="footer_bottom">
				<div id="logo_klein"><img src="images/logo_klein.png" alt="lovo logo klein" /></div>
				<div id="copyright">&copy; 2012 <a href="#">Lovo</a>. Design by <a href="http://freshcreations.nl">FreshCreations</a></div>
			</div>
			
		</div>
	</div>


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_include_tag "front_page" %>
  <%#= yield :additional_js %>
</body>
</html>




